In [3]:
import pandas as pd

In [4]:
import os

In [5]:
a = os.getcwd()

In [6]:
b = "user_profiles"
c = os.path.join(a,b)

In [7]:
df = pd.read_csv(f"{c}/user-data.csv", index_col = [0])

In [8]:
print(df)

    profile_name profile_type  age_range  gender  pronouns  about_me
0  gilcraos#2111       normal        NaN     NaN       NaN       NaN
1   Regulus#8269       dating        NaN     NaN       NaN       NaN
2   Regulus#8269       normal        NaN     NaN       NaN       NaN

In [9]:
print(df["profile_type"])

0    normal
1    dating
2    normal
Name: profile_type, dtype: object

In [10]:
df.index

Int64Index([0, 1, 2], dtype='int64')

In [12]:
'normal' in df["profile_type"].tolist()

True

In [20]:
df["profile_type"]

0    normal
1    dating
2    normal
Name: profile_type, dtype: object

In [24]:
df["profile_name"]

0    gilcraos#2111
1     Regulus#8269
2     Regulus#8269
Name: profile_name, dtype: object

In [25]:
df.iloc[2]

profile_name    Regulus#8269
profile_type          normal
age_range                NaN
gender                   NaN
pronouns                 NaN
about_me                 NaN
Name: 2, dtype: object